.l-tips
{
    display: inline-block;
    color: #5b6469;

    cursor: pointer;
}

.l-tips:after
{


}
.l-tips+p
{
    display: none;
}


.l-tips:hover+p
{
    position: absolute;
    display: block;

    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    z-index: 999;

    background-color: #1E2021;
    color: #FFF;
    font-size: 13px;
    line-height: 1.6;
    text-align: left;
    font-family: Microsoft YaHei, "Î¢ÈíÑÅºÚ";

}
.l-tips:hover+p:hover
{
    display: block;
}


.l-tips:hover+p img
{
    width: 100%;
}
.l-tips:hover+p a, .l-tips:hover+p a:visited {
    outline: none;
    color: #389dc1;
    text-decoration: none;
}


.l-tips:hover+p:before
{
    content:"";
    position: absolute;
    top:-12px;
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1E2021;
}